@import './base.css';

#app {
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

.checkbox-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 20px;
  margin-bottom: 60px;
}

.download-container {
  display: flex;
  flex-direction: row;
  gap: 4px;

  .button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    transition:
      background-color 0.3s,
      transform 0.2s;
  }

  .button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
  }

  .button:active {
    transform: translateY(0);
  }

  .button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
  }
}
